node_modules/
.idea/
.DS_Store
*.swp
*~
*.bak
.env

БР1.2/Алексеев Андрей/**/*.md
БР1.2/Алексеев Андрей/**/*.docx
БР1.2/Алексеев Андрей/**/*.json
БР1.2/Алексеев Андрей/**/*.log
БР1.2/Алексеев Андрей/**/*.http

БР1.2/Алексеев Андрей/labs/lab4/ssh-key-*